.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.fontcolor{
  color:black;
}
h2{
    text-align: center;
    padding: 10px;
}
.text-center{
    margin: auto;
   text-align: center;
    justify-content: center;
    padding: 20px;
    /* margin: 70px; */
}
.btnclass{
    padding: auto;
}
.fbg{
    background-color: #c49ee9;
}
/* .form-div{
    background-color: aqua;
}  */
.br{
    border: 1px solid black;
    border-radius: 10px;
}
.login-div{
    border-radius: 20px;
    border: 1px solid black;
    padding: 32px 34px;
}
.h-custom {
  height: calc(100% - 73px);
}

.bgcolor{
  background-color: #d7beef;
}
.id-form {
  border: 1px solid black;
  padding: 10px;
  margin: 54px 53px;
  text-align: center;
}

/* body{
  background: #f7f7ff;
  margin-top:20px;
} */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
  margin-right: .5rem!important;
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}